html, body {
    margin: 0;
    padding: 0;
}
#marino {
    width: 250px;
    height: auto;
}
.nav {
    background-color: #ffffff;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}
.logo img {
    flex: 1;
    margin-right: 10px;
}
.menu {
    margin-left: 100px;
}
.menu li {
    float: left;
}
.menu a {
    display: block;
    background-color: #ffffff;
    letter-spacing: 2px;
    color: #1c1144;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li a{
    display: block;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.menu a:hover {
    background-color: #1c1144;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
}

